body {
    font-family: 'Miriam Libre', sans-serif;
    max-width: 100%;
    margin: auto;
}

header {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-items: center;
    align-items: center;
}


.header-nav-menu {
    display: flex;
}

.header-nav-menu li {
    list-style: none;
}

.link-landing {
    outline : none;
    cursor: pointer;
    padding: 20px;
}

.link-landing a:hover::before{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #5BF1CD;
    mix-blend-mode: normal;
    border-radius: 50%;
}

.link-landing select {
    color: #0E0333;
}

main {
    max-width: 1600px;
    margin: auto;
}

/* 
Bubble */
.bublbe-green{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 525px;
    background: #5BF1CD;
    mix-blend-mode: normal;
    border-radius: 50%;
}

.bublbe-purple{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 525px;
    background: #6F3FF5;
    mix-blend-mode: normal;
    border-radius: 50%;
}

/* end Bubble gree */

/* @component: speaker-list  */
.speakers-container {
    display: flex;
    flex-direction: column;
}

.speaker-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.speaker-title {
    display: flex;
    justify-content: center;
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 72px;
    text-align: center;
    color: #6F3FF5;
}

.speaker-card {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    align-items: center;
}
.speaker-info {
    display: flex;
    flex-direction: column;
}

.speaker-image {
    display: flex;
}
.speaker-image img{
    display: flex;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.speaker-info .name {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #6F3FF5;
}

.speaker-info .title {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
/* end speaker-list */

/* start sponsors section */

.sponsors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.sponsors-container .title {
    display: flex;
    justify-content: center;
}

.sponsors-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sponsors-list a {
    cursor: pointer;
}

.sponsors-card {
    list-style: none;
    padding: 60px;
    
}

.image-sponsors {
    border: 8px solid #5BF1CD;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    padding: 20px;
    justify-content: center;
    display: flex;
}

/* end sponsors section */

footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: #0E0333;
}

.section-title {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 100%;
}

.section-container {
    display: flex;
    flex-direction: row;
    padding: 56px;
}

.section-container_call_action {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.description {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;

}

.section-conainer_info {
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding-left: 56px
}

.section-conainer_info .title {
    color: #6F3FF5;
    padding-bottom: 52px;
}

.section-conainer_info .description {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;

}

.text-menu {
    font-family: Miriam Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
}

.button-call-to-action {
    background: #6F3FF5;
    border-radius: 8px;
    display: flex;
    width: 640px;
    padding: 59px;
    color: #fff;
    justify-items: center;
    text-transform: uppercase;
}

.project-brand {
    display: flex;
    padding-top: 154px;
    padding-bottom: 154px;
    justify-content: center;
    align-items: center;
}